<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h4>Edit collaborator</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for :collaborator, url: collaborator_path(@collaborator), method: :put do |f| %>
      <%= f.label :first_name %>
      <%= f.text_area :first_name, class: "form-control", placeholder: "First name, ex John"  %>
      
      <%= f.label :second_name %>
      <%= f.text_area :second_name, class: "form-control", placeholder: "Second name, ex L."  %>

      <%= f.label :last_name %>
      <%= f.text_area :last_name, class: "form-control", placeholder: "Last name, ex Johnson"  %>

      <%= f.label :salary %>
      <%= f.text_area :salary, class: "form-control", placeholder: "any valid salary, ex 1000"  %>

      <%= f.label :sex %>
      <%= f.select(:sex, [['male', :male], ['female', :female]], {}, { class: "form-control" }) %>

      <%= f.label :departments %>
      <%= f.select(:department_ids, Department.pluck(:department_name, :id), {}, { multiple: true, size: 5, class: "form-control" }
      ) %>

      <%= f.submit "Update collaborator", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>