<!DOCTYPE html>
<html>
  <head>
    <title>RoonixTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Grid', grids_path %></li>
            <li><%= link_to 'Departments', departments_path %></li>
            <li><%= link_to 'Collaborators', collaborators_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <% unless flash[:error].blank? %>
      <div class="alert alert-danger">
        <% flash[:error].each do |key, message| %>
          <p> <%= key %> <%= message %> </p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
